recursive-include pretix_mandatory_product/static *
recursive-include pretix_mandatory_product/templates *
recursive-include pretix_mandatory_product/locale *
include LICENSE
exclude .gitlab-ci.yml
exclude .vscode/*